<html>
    {% include head.html %}
    <body>
        {% include header.html %}

        <aside id="side-bar">
            <div>
                <ul>
                    <li>
                        <a href="/" class="thisPage">»<i> profile</i></a>
                    </li>
                    {% for item in site.menu %}
                    <li><a href="{{ item.url }}">{{ item.page }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </aside>

        <section id="main-copy">{{ content }}</section>

        <footer id="footer">
            <br class="hide" />
            <div class="left">Copyright {{ site.time | date: '%Y' }}, all lefts reserved. crafted by Precious, hosted on GH pages.</div>
            <div class="right"></div>
        </footer>
    </body>
</html>
