<html>
    {% include head.html %}
    <body>
        {% include header.html %}

        <aside id="side-bar">
            <div>
                <ul>
                    <li>
                        <a href="/" class="thisPage">»<i> profile</i></a>
                    </li>
                    <li>
                        <span>»<i> writeups</i></span>
                    </li>
                    {% for item in site.menu %}
                    <li>
                        <ul>
                            <li>
                                <a href="{{ item.url }}">»<i> {{ item.page }}</i></a>
                            </li>
                        </ul>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </aside>

        <section id="main-copy">
            <p>
                <strong>Username:</strong> 0ex-d<br />
                <strong>Location:</strong> Anywhere but a void<br />
                <strong>Religion:</strong> Christian<br />
                <strong>Origin:</strong> Crafted by God.
            </p>

            <p>
                <strong>Qualities:</strong> <a href="https://en.wikipedia.org/wiki/Critical_thinking" target="_blank">Critical Thinking</a>, <a href="https://en.wikipedia.org/wiki/Curiosity" target="_blank">Curiosity</a>, <a href="https://en.wikipedia.org/wiki/Self_motivation" target="_blank">Self-Motivated</a>.
                <br />
                <strong>Passions:</strong> <a href="https://en.wikipedia.org/wiki/Network_socket" target="_blank">Sockets</a>, <a href="https://en.wikipedia.org/wiki/Duck_typing" target="_blank">Duck Typing</a>, <a href="https://doc.rust-lang.org/book/ch04-02-references-and-borrowing.html" target="_blank">Borrow Checker</a>, <a href="https://gobyexample.com/goroutines" target="_blank">Goroutines</a>.
            </p>
            <p>“<em>Indeed, the woes of Software Engineering are not due to lack of tools, or proper management, but largely due to lack of sufficient technical competence.</em>” – Niklaus Wirth</p>
            <p>
                <strong>Phobias:</strong> <a href="https://en.wikipedia.org/wiki/Object-oriented_programming" target="_blank">OOP</a>, <a href="https://www.typescriptlang.org/docs/handbook/2/everyday-types.html#any" target="_blank">:any</a>, <a href="https://en.wikipedia.org/wiki/Garbage_collection_(computer_science)">G*rbage Collectors</a>, <a href="https://en.wikipedia.org/wiki/Zombie_process" target="_blank">Zombie Process</a>, <a href="https://en.wikipedia.org/wiki/Memory_leak" target="_blank">Memory Leaks</a>, <a href="https://en.wikipedia.org/wiki/Deadlock" target="_blank">Deadlocks</a>,
                <a href="https://en.wikipedia.org/wiki/Race_condition" target="_blank">Race Conditions</a>, <a href="https://en.wikipedia.org/wiki/Null_pointer" target="_blank">Null Pointers</a>.
                <br />
                <strong>Philias:</strong> <a href="https://en.wikipedia.org/wiki/Problem_solving" target="_blank">Problem-Solving</a>, <a href="https://en.wikipedia.org/wiki/Pair_programming" target="_blank">Pair programming</a>, <a href="https://en.wikipedia.org/wiki/Algorithm" target="_blank">Algorithms</a>, <a href="https://en.wikipedia.org/wiki/Endorphins" target="_blank">Endorphins</a>, <a href="https://en.wikipedia.org/wiki/Data_visualization">Data Visualization</a>, <a href="https://en.wikipedia.org/wiki/Minimalism" target="_blank">Minimalism</a>,
                <a href="https://en.wikipedia.org/wiki/Mentorship" target="_blank">Mentorship</a>.
            </p>

            <h2>Skills</h2>

            <p>“<em>They said 'learn to code,' but forgot to mention you'd also need to learn design, testing, cloud, algorithms, communication, and how to debug your sanity.</em>” – anonymous</p>

            <h3>Software</h3>

            <h4>Backend</h4>
            <p>
                <a href="https://nodejs.org" target="_blank">Node.js</a>, <a href="https://www.rust-lang.org" target="_blank">Rust</a>, <a href="https://go.dev" target="_blank">Go</a>, <a href="https://developer.apple.com/swift/" target="_blank">Swift</a>, <a href="https://www.python.org" target="_blank">Python</a>, <a href="https://www.php.net" target="_blank">Php</a>, <a href="https://soliditylang.org" target="_blank">Solidity</a>, <a href="https://en.wikipedia.org/wiki/Hypertext_Transfer_Protocol" target="_blank">HTTP</a>,
                <a href="https://en.wikipedia.org/wiki/Secure_Shell" target="_blank">SSH</a>, <a href="https://en.wikipedia.org/wiki/Remote_procedure_call" target="_blank">RPC</a>, <a href="https://graphql.org" target="_blank">GraphQL</a>, <a href="https://swagger.io/specification/" target="_blank">OpenAPI</a>,
                <a href="https://en.wikipedia.org/wiki/Financial_Information_eXchange" target="_blank">FIX 4.4+</a>
            </p>

            <h4>Frontend</h4>
            <p>
                <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript" target="_blank">Javascript</a>, <a href="https://www.typescriptlang.org" target="_blank">Typescript</a>, <a href="https://developer.mozilla.org/en-US/docs/Web/CSS" target="_blank">CSS</a>, <a href="https://htmx.org" target="_blank">HTMX</a>, <a href="https://react.dev" target="_blank">React.js</a>, <a href="https://vuejs.org" target="_blank">Vue.js</a>, <a href="https://tailwindcss.com" target="_blank">TailwindCSS</a>,
                <a href="https://reactnative.dev" target="_blank">ReactNative</a>
            </p>

            <h4>Database/Storage</h4>
            <p>
                <a href="https://redis.io" target="_blank">Redis</a>, <a href="https://www.postgresql.org" target="_blank">PostgresSQL</a>, <a href="https://www.mongodb.com" target="_blank">MongoDB</a>, <a href="https://www.cloudflare.com/products/r2/" target="_blank">Cloudflare R2</a>, <a href="https://azure.microsoft.com/en-us/products/storage/blobs/" target="_blank">Azure Blobs</a>, <a href="https://cloud.google.com/storage" target="_blank">GCP</a>,
                <a href="https://aws.amazon.com/s3/" target="_blank">AWS S3</a>
            </p>

            <h4>Intermission</h4>
            <p>
                <a href="https://www.json.org/json-en.html" target="_blank">JSON</a>, <a href="https://protobuf.dev" target="_blank">.Proto</a>, <a href="https://en.wikipedia.org/wiki/Shell_script" target="_blank">Shell scripting</a>, <a href="https://git-scm.com" target="_blank">Git</a>, <a href="https://socket.io" target="_blank">Socket.io</a>, <a href="https://www.docker.com" target="_blank">Docker</a>, <a href="https://www.nginx.com" target="_blank">Nginx</a>, <a href="https://www.digitalocean.com/products/droplets" target="_blank">Droplets</a>,
                <a href="https://workers.cloudflare.com" target="_blank">Cloudflare Workers</a>, <a href="https://grafana.com" target="_blank">Grafana</a>,
                <a href="https://www.graylog.org" target="_blank">Graylog</a>
            </p>

            <p>
                <strong>Phobias:</strong>
                <a href="https://en.wikipedia.org/wiki/Callback_hell" target="_blank">Callback Hell</a>, <a href="https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/429" target="_blank">429 status</a>, <a href="https://developer.mozilla.org/en-US/docs/Web/API/setInterval" target="_blank">setInterval()</a>, <a href="https://www.typescriptlang.org/docs/handbook/2/everyday-types.html#any" target="_blank">:any</a>, <a href="https://en.wikipedia.org/wiki/Serverless_computing" target="_blank">Serverless</a>,
                <a href="https://en.wikipedia.org/wiki/Microservices" target="_blank">Over-Microservicing</a>, <a href="https://en.wikipedia.org/wiki/Windows_8" target="_blank">>=Windows 8</a>, <a href="https://en.wikipedia.org/wiki/Slash_(punctuation)#Forward_slash" target="_blank">Forward Slash</a>,
                <a href="https://en.wikipedia.org/wiki/XML" target="_blank">XML</a>
            </p>

            <h3>Hardware</h3>
            <p>
                <a href="https://www.raspberrypi.com" target="_blank">Raspberry Pi</a>,
                <a href="https://en.wikipedia.org/wiki/Radio-frequency_identification" target="_blank">RFID Tech</a>
            </p>

            <h3>Sports</h3>

            <p>Chess</p>

            <h2>Experience</h2>
            <p>“<em>The only source of knowledge is experience.</em>” – Albert Einstein</p>
            <article id="">
                <strong>Senior Software Engineer (Backend)</strong>
                <div>CcCData - <span>Apr 2022 - Present</span></div>
                <div>London</div>
                <div>
                    Senior Backend engineer (On-chain, News, Social metrics, Asset metadata) developing the world's top-leading Digital Asset data provider.<br />
                    - Experience with distributed and highly reliable systems, streaming data (websockets, pub/sub).<br />
                    - Logging/monitoring tools (Grafana, Icinga, Graylog).<br />
                    - ELT (Extract Load Transform) for Blobs (Azure and Cloudflare R2).<br />
                    - Serverless JS via Cloudflare Workers.<br />
                    - Ingesting & transforming Big data from the blockchain into Blobs (Cloudflare R2 & BigQuery).<br />
                    Node.js
                </div>
            </article>
            <br />
            <article id="">
                <strong>Senior Software Engineer (Full Stack)</strong>
                <div>Symply - <span>Jan 2021 - Apr 2022 · 1 yr 4 mos</span></div>
                <div>California, United States</div>
                <div>
                    As Senior Engineer, leading a great team developing America's finest SME payroll and fintech app. Fullstack Dev. Focus on back-end.<br />
                    - Microservices + Serverless architecture (Lambda functions on AWS).<br />
                    - React.js.<br />
                    - Mentor developers and interns to deliver production-ready code as we push code at a fast pace.<br />
                    - Writing inter-op client-server APIs using GraphQL ;)<br />
                </div>
                <div><strong>Technologies</strong>: Node.js, TypeScript, React, AWS Lambda, Serverless, PostgreSQL, GraphQL, CircleCI, GitHub Actions.</div>
            </article>
            <br />
            <article id="">
                <strong>Senior Software Engineer (Full Stack)</strong>
                <div>Conversation24 - <span>Sep 2020 - Dec 2020 · 4 mos</span></div>
                <div>Rotterdam, Netherlands</div>
                <div>
                    - Conduct thorough code reviews to ensure high-quality, maintainable, and efficient code.<br />
                    - Provide mentorship and support to developers, fostering a collaborative and innovative development environment.<br />
                    - Manage and monitor resilient and reliable systems, ensuring optimal performance and uptime.<br />
                    - Handle live support messages, processing approximately 10,000 messages per second, ensuring seamless and efficient communication.<br />
                    - Develop and maintain systems using Node.js, RabbitMQ, ElasticSearch, Python, and Websockets.
                </div>
            </article>
            <br />
            <article id="">
                <strong>Software Engineer (Full Stack)</strong>
                <div>Top Shipment - <span>Feb 2018 - Dec 2020 · 2 yrs 11 mos</span></div>
                <div>Denver, United States</div>
                <div>
                    • Build from scratch Zeplin/Figma UI designs into highly reusable UI components in React.js.<br />
                    • Developed warehouse dashboard for tracking shipping services and freight forwarder’s packages.<br />
                    • Write unit tests for reusable react components to help as we move very fast.<br />
                    • Mentored developers + conducted code reviews.
                </div>
                <div><strong>Technologies</strong>: JavaScript, Node.js, React.js, Php, Zeplin, MySQL.</div>
            </article>
            <br />
            <article id="">
                <strong>Software Engineer (Full Stack)</strong>
                <div>Swiftly, Inc - <span>Aug 2015 - Jan 2018 · 2 yrs 6 mos</span></div>
                <div>California, United States</div>
                <div>
                    In a great company developing solutions to help people share the cost of shipping large packages from across borders.<br />
                    • Responsible for migrating our front-end to AngularJS framework. This saw 200% responsiveness compared to legacy jQuery API.<br />
                    • Built out peer-to-peer matching engine (Node.js + Redis).<br />
                    • Developed a tracking dashboard to give freight-forwarders more insights into their logistics.
                </div>
                <div><strong>Technologies</strong>: Node.js, TypeScript, AngularJS, MySQL, Python.</div>
            </article>

            <h2>Education</h2>
            <br />
            <article id="">
                <strong>Hievers University</strong>
                <div>Bsc. Computer Science</div>
                <div><strong>Courses</strong>:Foundations of Computer Science, Discrete Mathematics, Programming</div>
            </article>
        </section>

        <footer id="footer">
            <br class="hide" />
            <div class="left">Copyright {{ site.time | date: '%Y' }}, all lefts reserved. crafted by Precious, hosted on GH pages.</div>
            <div class="right"></div>
        </footer>
    </body>
</html>
